[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ffmpeg = "*"
matplot = "*"
numpy = "*"
openai-whisper = "*"
pandas = "*"
plotly = "*"
pyaudio = "*"
pydub = "*"
scipy = "*"
scikit-learn = "*"
sounddevice = "*"
streamlit = "*"
torchvision = "*"
wavio = "*"
"pyannote.audio" = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
